body {
    background-image: url('/static/admin_wall.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  #container_1{
    text-align:center;
  }
  #container_2{
    display: block;
    
  }
  .form{
    width: 100%;
    margin-bottom: 1em;
  }
  
  #submit{
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: rgb(2,0,36);
    color: inherit;
    border-radius: 15px;
    cursor: pointer;
  }

  /* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* Float the Delogare link to the right */
  .topnav a.right {
    float: right;
  }

    /* Float the Delogare link to the right */
    .topnav p.right {
      float: right;
    }

    .panel {
      margin: 2em 5em 3em 5em;
      padding: 2em 6em 2em 6em;
      background: rgb(2, 0, 36);
      background: linear-gradient(117deg, rgba(2, 0, 36, 1) 0%, rgba(125, 129, 150, 0.9757503221014968) 96%, rgba(222, 199, 45, 1) 98%, rgba(222, 199, 45, 1) 98%, rgba(142, 49, 242, 0.5859143339953169) 98%);
      color: #fff;
      font-family: cursive;
      border-radius: 1.25rem;
      position: relative; /* Add this line */
    }
    
    .panel img {
      max-width: 300px;
      max-height: 200px;
    }
    
    .panel-content {
      display: none;
    }
  
    .panel-toggle {
      position: absolute;
      bottom: 10px; /* Adjust the value as needed */
      left: 10px; /* Adjust the value as needed */
      padding: 5px;
      background-color: transparent;
      cursor: pointer;
    }
    
    .arrow {
      font-size: 16px;
      color: white;
    }
  
    .panel-title {
      cursor: pointer;
    }
    
    .panel-expanded .panel-content {
      display: block;
    }
  
    .panel-collapsed .panel-content {
      display: none;
    }
    
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 0.3fr;
      gap: 0.1em;
    }

    .search-panel {
      margin: 2em 5em;
      padding: 1em;
      background: rgb(2, 0, 36);
      background: linear-gradient(117deg, rgba(2, 0, 36, 1) 0%, rgba(125, 129, 150, 0.9757503221014968) 96%, rgba(222, 199, 45, 1) 98%, rgba(222, 199, 45, 1) 98%, rgba(142, 49, 242, 0.5859143339953169) 98%);
      color: #fff;
      font-family: cursive;
      border-radius: 1.25rem;
    }
     
    .search-panel input[type="text"] {
      width: 100%;
      padding: 0.5em;
      font-size: 16px;
      border: none;
      border-radius: 0.5rem;
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
      outline: none;
    }
    
    .search-panel input[type="text"]::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
    
    .search-panel input[type="text"]:focus {
      background-color: rgba(255, 255, 255, 0.3);
    }
    
    .buttons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
      }
      
      .delete-button,
      .modify-button {
        font-family: cursive;
        color: white;
        padding: 5px 10px;
        margin-left: 10px;
        border: none;
        cursor: pointer;
      }
      
      .delete-button {
        background-color: red;
      }
      
      .delete-button:hover {
        color: white;
        background-color: darkred;
      }
      
      .modify-button {
        background-color: blue;
      }
      
      .modify-button:hover {
        color: white;
        background-color: darkblue;
      }
      
      .buttons-container1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        margin-left: 80px;
      }
      
      .adauga-button {
        font-family: cursive;
        color: white;
        padding: 5px 10px;
        margin-right: 10px;
        border: none;
        cursor: pointer;
        background-color: green;
      }
      
      .adauga-button:hover {
        background-color: darkgreen;
      }
      
      .modify-panel {
        display: none; /* Hide the modify panel by default */
      }

      button.submit-modif {
        color: white;
        font-family: cursive;
        background-color: blue;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        font-size: 16px;
      }
      
      button.submit-modif:hover {
        background-color: darkblue;
      }
      