.alert-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 1.5rem;
  text-align: center;
  font-family: cursive;
  border-radius: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.alert-div button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.alert-div input[type="text"],
.alert-div input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 0.9rem;
  border-radius: 15px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

body {
  background-image: url("/static/blue_wall.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#container_1,
#container_2 {
  margin: 2em 5em 3em 5em;
  padding: 2em 6em 2em 6em;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    117deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 129, 150, 0.9757503221014968) 96%,
    rgba(222, 199, 45, 1) 98%,
    rgba(222, 199, 45, 1) 98%,
    rgba(142, 49, 242, 0.5859143339953169) 98%
  );
  color: #ffff;
  font-family: cursive;
  border-radius: 1.25rem;
}

#container_1 {
  text-align: center;
}

#container_2 {
  display: block;
  text-align: center;
}

.form {
  width: 30%;
  margin-bottom: 1em;
}

#submit {
  display: block;
  margin: 0 auto;
  width: 30%;
  padding: 0.75rem;
  background: rgb(2, 0, 36);
  color: inherit;
  border-radius: 15px;
  cursor: pointer;
}


#username,
#password {
  width: 30%;
  padding: 0.75rem;
  font-size: 0.9rem;
  border-radius: 15px;
}
