<!DOCTYPE html>
<html>
  <link
  rel="stylesheet"
  href="/static/forms.css"
  />
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
  integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
  crossorigin="anonymous"
  />
  <script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" 
  crossorigin="anonymous">
  </script>
  <head>  
    <title>Formular elev</title>
  </head>

  <div id="container_2">
    <label id="description-label">Salutare, {{ username }}! Te-ai conectat cu succes!</label><br>
    <label id="description-label1">Pentru prima conectare, te rugăm să răspunzi la întrebările de mai jos!</label><br><br>
    <form id="survey-form" method="POST">
      <label id="profil-label">La ce profil din cadrul liceului te încadrezi?</label><br>
      <select id="dropdown1" name="profil" required>
        <option disabled selected value>
          Alege o opțiune
        </option>
        <option value="Matematică-Informatică">
          Matematică-Informatică
        </option>
        <option value="Filologie">
          Filologie
        </option>
        <option value="Științele naturii">
          Științele naturii
        </option>
      </select> <br> <br>

      <label id="domeniu-label">Ce domenii de studiu superior te-ar atrage cel mai mult?</label><br>
      <select id="dropdown2" name="domeniu" multiple required >
        <option disabled selected value>
          Alege din opțiuni
        </option>
        <option value="Inginerie">
          Inginerie
        </option>
        <option value="Știință & Tehnologie">
          Știință & Tehnologie
        </option>
        <option value="Arte & Umanism">
          Arte & Umanism
        </option>
        <option value="Afaceri & Științe Sociale">
          Afaceri & Științe Sociale
        </option>
        <option value="Lingvistică & Cultură">
          Lingvistică & Cultură
        </option>
        <option value="Medicină & Sănătate">
          Medicină & Sănătate
        </option>
      </select> <br> <br>

      <label id="admitere-label">Ce tip de admitere preferi?</label><br>
      <select id="dropdown3" name="admitere" multiple required>
        <option disabled selected value>
          Alege din opțiuni
        </option>
        <option value="Examen de admitere">
          Examen de admitere
        </option>
        <option value="Pe bază de dosar">
          Pe bază de dosar
        </option>
      </select> <br> <br>

      <label id="locatie-label">Selectează orașele în care ți-ai dori să studiezi.</label><br>
      <select id="dropdown4" name="orase"  multiple required> 
        <option disabled selected value>
          Alege din opțiuni
        </option>
        <option value="București">
          București
        </option>
        <option value="Iași">
          Iași
        </option>
        <option value="Cluj-Napoca">
          Cluj-Napoca
        </option>
        <option value="Brașov">
          Brașov
        </option>
        <option value="Timișoara">
          Timișoara
        </option>
        <option value="Craiova">
          Craiova
        </option>
      </select> <br> <br>

      <label id="taxa-label">Filtrează facultățile după taxă sau buget.</label><br>
      <select id="dropdown5" name="taxa"  multiple required>
        <option disabled selected value>
          Alege din opțiuni
        </option>
        <option value="taxa">
          Taxă
        </option>
        <option value="buget">
          Buget
        </option>
      </select> <br> <br>
      <input type="submit" id="submit" name="submit" value="Submit">
    </form>
  </div>
</html>