<!DOCTYPE html>
<html>
  <link
  rel="stylesheet"
  href="/static/register.css"
  />
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
  integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
  crossorigin="anonymous"
  />
  <script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" 
  crossorigin="anonymous">
  </script>
  
  <style>
    a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:visited {
      color: pink;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
    }
    
    a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
    }
    </style>
  <title>Creare cont nou</title>
  <div id="container_1">
    <img src="/static/Logo.png" width="150" height="150">
    <h1 id="title">
      Creare cont utilizator
    </h1>
    <p id="description">
      Introduceți datele cerute mai jos.
    </p>
  <a href="{{url_for('login')}}">Utilizator existent? Accesați-vă contul aici</a><br>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% else %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    {% endfor %}
  {% endif %}
  {% endwith %}
  <div id="container_2">
    <form id="survey-form" method="POST">
      <label id="name-label">Nume utilizator</label><br>
        <input type="text" id="username" name="username" class="form" placeholder="Introduceți numele de utilizator"><br>
      <label id="password-label">Parola</label><br>
        <input type="password" id="password" name="password" class="form" placeholder="Introduceți parola"><br>
      <label id="password-label">Confirmă parola</label><br>
        <input type="password" id="password1" name="password1" class="form" placeholder="Repetați parola"><br>
      <label id="user-type">Ce tip de utilizator vi se potrivește cel mai bine?</label><br>
        <select id="dropdown" name="user-type" >
          <option disabled selected value>
            Selectează-ți rolul
          </option>
          <option value="elev">
            Elev
          </option>
          <option value="student">
            Student
          </option>
          <option value="profesor">
            Profesor
          </option>
          <option value="consilier cariera">
            Consilier Cariera
          </option>
        </select> <br> <br>
      <input type="submit" id="submit" name="submit" value="Submit">
    </form>
  </div>
</html>